<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
            {% block title %}
                BG
            {% endblock %}
        </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css/bootstrap.min.css') }}
               "type="text/css" rel="stylesheet" media="screen,projection" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid/bootstrap-grid.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.css/bootstrap-reboot.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/style.css') }}"/>
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv_competences') }}">Compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv_experiences') }}">Expériences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv_formation') }}">Formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv_realisations') }}">Réalisations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blog_home') }}">BLOG</a>
            </li>
        </ul>
    </div>
</nav>

    {% block main %}
        <div class="test container-fluid">
            dd
        </div>
    {%  endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    {% endblock %}
</body>
</html>