<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
            {% block title %}
                BG
            {% endblock %}
        </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css/bootstrap.min.css') }}
               "type="text/css" rel="stylesheet" media="screen,projection" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid/bootstrap-grid.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.css/bootstrap-reboot.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/style.css') }}"/>
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="{{ asset('assets/images/logo_benjamin_giralt_grey.png') }}"                                           alt="logo-benjamin-giralt"></a>
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item"> <a class="nav-link" href="{{ path('cv_competences') }}">COMPETENCES</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('cv_experiences') }}">EXPERIENCES</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('cv_formation') }}">FORMATION</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('cv_realisations') }}">REALISATIONS</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('blog_home') }}">BLOG</a> </li>
        </ul>
    <div class="right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
        {% endif %}
    </div>
</nav>


{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="espace-admin"">
    <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-light btn-sm" role="button">Espace Admin</a>
</div>

{% endif %}
    {% block main %}

    {%  endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    {% endblock %}
</body>
</html>