{%  extends 'AppBundle::layout.html.twig' %}

{%  block title %}
    {{ parent() }}
    - Formation
{% endblock %}

{% block main %}
    <h1 class="formation-h1">FORMATION</h1>

    {% for formation in formations %}
        <div class="formation">
            <p class="formation-yearend">{{ formation.yearend }} {{ formation.yearstart }}</p>
            <p class="formation-title">{{ formation.title }}</p>
            <p class="formation-content">{{ formation.content }}</p>
        </div>
    {% endfor %}

{% endblock %}